# Ignore Gradle project-specific cache directory
.gradle
.vscode

# Ignore Gradle build output directory
.gitignore
.gitattributes
app/bin

# Ignore other files
createdockercontainer.sh
createdockerimage.sh
frontend/node_modules
frontend/build