.App {
  text-align: center;
  background-color: #ededed;
  min-height: 140vh;
  min-width: 1250px;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* CSS OVERRIDES */
.MuiOutlinedInput-root {
  background-color: white;
}

.Toastify__toast-container {
  width: 400px !important;
  min-width: 10px !important;
}

.Toastify__toast-body {
  margin: 0 !important;
  font-size: 16px !important;
}